
.button {
    @include button-base();
}

.button--rounded {
    @include button-base();
    
    display: inline-flex;
    padding: 16px 25px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;

    &:hover {
        padding: 16px 30px;
    }
}

.button--selection {
    @include button-base();

    background-color: $color-cta;
    border-radius: 70px 0;
    letter-spacing: 5px;
    transition: all 0.3s ease-in-out;

    // mobile
    width: 300px;
    height: 67px;

    // desktop
    @include lg() {
        width: 315px;
        height: 70px;

        &:hover {
            width: 335px;
            transform: translateX(10px);
        }
    }
}

.button--main-green {
    background-color: $color-main-green;
    color: $color-white;
}

.button--white {
    background-color: $color-white;
    color: $color-main-text;
}

.button--grow-inplace {
    &:hover {
        transform: translateX(-5px);
    }
}