@import './fonts.scss';
@import './variables.scss';
@import './mixins.scss';
@import './button.scss';

body {
    background-color: $color-web-background;
}

/**
    Utilities
*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-height {
    height: calc(100vh - 100px);
    max-height: 1080px;
    min-height: 600px;
}

/**
    === PROJECT SPACING ===
*/

@mixin margin-definition($property, $spacing-mobile, $spacing-desktop) {
    #{$property}: $spacing-mobile;

    @include lg() {
        #{$property}: $spacing-desktop;
    }
}

.mt-sm { @include margin-definition(margin-top, $spacing-sm-mobile, $spacing-sm-desktop); }
.mb-sm { @include margin-definition(margin-bottom, $spacing-sm-mobile, $spacing-sm-desktop); }
.my-sm {
    @include margin-definition(margin-top, $spacing-sm-mobile, $spacing-sm-desktop);
    @include margin-definition(margin-bottom, $spacing-sm-mobile, $spacing-sm-desktop);
}

.mt-md { @include margin-definition(margin-top, $spacing-md-mobile, $spacing-md-desktop); }
.mb-md { @include margin-definition(margin-bottom, $spacing-md-mobile, $spacing-md-desktop); }
.my-md {
    @include margin-definition(margin-top, $spacing-md-mobile, $spacing-md-desktop);
    @include margin-definition(margin-bottom, $spacing-md-mobile, $spacing-md-desktop);
}

.mt-lg { @include margin-definition(margin-top, $spacing-lg-mobile, $spacing-lg-desktop); }
.mb-lg { @include margin-definition(margin-bottom, $spacing-lg-mobile, $spacing-lg-desktop); }
.my-lg {
    @include margin-definition(margin-top, $spacing-lg-mobile, $spacing-lg-desktop);
    @include margin-definition(margin-bottom, $spacing-lg-mobile, $spacing-lg-desktop);
}

.mt-gt { @include margin-definition(margin-top, $spacing-gt-mobile, $spacing-gt-desktop); }
.mb-gt { @include margin-definition(margin-bottom, $spacing-gt-mobile, $spacing-gt-desktop); }
.my-gt {
    @include margin-definition(margin-top, $spacing-gt-mobile, $spacing-gt-desktop);
    @include margin-definition(margin-bottom, $spacing-gt-mobile, $spacing-gt-desktop);
}

/** 
    === PROJECT COLORS ===
*/

.color-white { color: $color-white; }
.color-web-background { color: $color-web-background; } 
.color-soft-divider { color: $color-soft-divider; } 
.color-medium-divider { color: $color-medium-divider; } 
.color-main-text { color: $color-main-text; } 
.color-main-web-blue { color: $color-main-web-blue; } 
.color-darken-web-blue { color: $color-darken-web-blue; } 
.color-lighten-web-blue { color: $color-lighten-web-blue; } 
.color-main-green { color: $color-main-green; } 
.color-main-green-darken { color: $color-main-green-darken; } 
.color-dark-green { color: $color-dark-green; } 
.color-cta { color: $color-cta; } 
.color-gradient-green { color: $color-gradient-green; } 
.color-gradient-blue { color: $color-gradient-blue; } 
.color-free { color: $color-free; } 
.color-sold { color: $color-sold; } 
.color-reservation { color: $color-reservation; } 
.color-support-a { color: $color-support-a; } 
.color-support-b { color: $color-support-b; } 


/**
    === PROJECT TEXT DEFINITIONS ===
*/

@mixin text-definition($font-family, $font-size-mobile, $font-size-desktop, $font-weight: normal) {
    font-family: $font-family;
    font-size: $font-size-mobile;
    font-weight: $font-weight;
    
    @include lg() {
        font-size: $font-size-desktop;
    }
}

// Title
.text-cta-title { @include text-definition(Domine, 40px, 80px); }
.text-gt-title  { @include text-definition(Domine, 35px, 60px); }
.text-lg-title  { @include text-definition(Domine, 32px, 40px); }
.text-md-title  { @include text-definition(Domine, 26px, 30px); }
.text-sm-title  { @include text-definition(Domine, 21px, 25px); }

// Paragraph

.text-lg-paragraph { @include text-definition(Roboto, 15px, 18px); }
.text-md-paragraph { @include text-definition(Roboto, 14px, 16px); }
.text-sm-paragraph { @include text-definition(Roboto, 13px, 14px); }
.text-tn-paragraph { @include text-definition(Roboto, 10px, 12px); }

// Capital

.text-lg-capital { @include text-definition(Roboto, 13px, 14px, bold); }
.text-md-capital { @include text-definition(Roboto, 12px, 13px, bold); }
.text-sm-capital { @include text-definition(Roboto, 10px, 11px, 500); }

// Property Table

.text-ptable-desc  { @include text-definition(Roboto, 12px, 13px, bold); }
.text-ptable-value { @include text-definition(Roboto, 13px, 15px); }

// Data Table

.text-dtable-desc  { @include text-definition(Roboto, 13px, 12px); }
.text-dtable-value { @include text-definition(Roboto, 14px, 13px, 500); }

// Button

.text-gt-button { @include text-definition(Roboto, 16px, 18px, 500); }
.text-lg-button { @include text-definition(Roboto, 13px, 14px, 500); }
.text-md-button { @include text-definition(Roboto, 12px, 13px, 500); }

// UI Description
.text-md-ui-desc { @include text-definition(Roboto, 14px, 15px, 500); }
.text-sm-ui-desc { @include text-definition(Roboto, 13px, 14px); }

// Header

.text-navbar { @include text-definition(Domine, 16px, 22px); }

// Unique cases

.text-lg-num   { @include text-definition(Domine, 60px, 120px); }
.text-sm-num   { @include text-definition(Roboto, 12px, 14px); }
.text-web-menu { @include text-definition(Domine, 26px, 30px); }