
// Breakpoints (for responsive design)
@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 1024px) {
        @content;
    }
}


@mixin text-hover-underline() {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

@mixin button-base() {
    cursor: pointer;
    user-select: none;
}

// Unique to gallery button as it needs to have hover effect its parent is hovered
@mixin button-gallery-hover() {
    &:before {
        background-color: $color-main-green;
        transform: scale(0.83);
    }
}
