// Colors - Reflecting XD file
$color-white: #ffffff;
$color-web-background: #F2F5F7;

$color-soft-divider: #E6ECEE;
$color-medium-divider: #DBE3E7;
$color-main-text: #333333;

$color-main-web-blue: #12465C;
$color-darken-web-blue: #0D3242;
$color-lighten-web-blue: #196382;

$color-main-green: #4DA169;
$color-main-green-darken: #479460;
$color-dark-green: #434634;
$color-cta: #B0AA5A;

$color-gradient-green: #3C4123;
$color-gradient-blue: #11101A;

$color-free: #D9AF7F;
$color-sold: #EF5858;
$color-reservation: #6B8FB8;

$color-support-a: #CE5E5E;
$color-support-b: #90CF48;


$color-grades-a: #CE5E5E;
$color-grades-b: #CFBD48;
$color-grades-c: #6B8FB8;
$color-grades-d: #72A141;


// Spacing
$spacing-sm-desktop: 50px;
$spacing-md-desktop: 100px;
$spacing-lg-desktop: 150px;
$spacing-gt-desktop: 200px;

$spacing-sm-mobile: 40px;
$spacing-md-mobile: 60px;
$spacing-lg-mobile: 80px;
$spacing-gt-mobile: 100px;
